<div class="collection_item show_collection_item <%=item.artist.toLowerCase().replace(" ", "_")%>">
  <a href="/collection/<%=index%>">
    <img class="kijker" style="width:90%;" src="/img/KA/<%=item.image%>">
  </a>
  <h3 class ="titel"><%=item.title%></h3>
  <h4 class ="description"><%=item.excerpt %></h4>

</div>
