<%- include('head'); %>
<h1 class="title_detail">Artwork // <%- item.title -%></h1>
<img class="detail_image" style="width:70%;" src="/img/KA/<%=item.image%>">
<h4 class="artist_detail"><%- item.artist -%></h4>
<h4 class="data_detail"><%- item.data -%></h4>
<h4 class="period_detail"><%- item.period -%></h4>
<h3 class="descrip_detail"><%- item.description -%></h3>

<script src="/js/script.js"></script>

<%- include('footer'); -%>
